data/useless/duration_category_preference_table_weighted_1_0.25_processed.csv
data/useless/duration_category_preference_table_weighted_1_processed.csv
data/useless/duration_category_preference_table_weighted_1.csv
data/useless/feat_preference_table_processed_0.25.csv
data/useless/feat_preference_table_weighted_1_0.25_processed.csv
data/useless/feat_preference_table_weighted_1_processed.csv
data/useless/feat_preference_table_weighted_1.csv
data/useless/feat_preference_table.csv
data/useless/influence_level_preference_table_processed_0.25.csv
data/useless/influence_level_preference_table_weighted_1_0.25_processed.csv
data/useless/influence_level_preference_table_weighted_1_processed.csv
data/useless/influence_level_preference_table_weighted_1.csv
data/useless/influence_level_preference_table.csv
data/useless/item.csv
data/useless/quality_level_preference_table_processed_0.25.csv
data/useless/quality_level_preference_table_weighted_1_0.25_processed.csv
data/useless/quality_level_preference_table_weighted_1_processed.csv
data/useless/quality_level_preference_table_weighted_1.csv
data/useless/quality_level_preference_table.csv
data/useless/user_item_info_2.csv
data/useless/user_item_info.csv
data/useless/video_type_preference_table_processed_0.25.csv
data/useless/video_type_preference_table_weighted_1_0.25_processed.csv
data/useless/video_type_preference_table_weighted_1_processed.csv
data/useless/video_type_preference_table_weighted_1.csv
data/useless/video_type_preference_table.csv
data/feat.csv
data/influence.csv
data/item_2.csv
data/quality.csv
data/user_item_info_3.csv
data/user_item.csv
data/user_video_duration.csv
data/user-user.csv
data/video_type.csv
# 如果还有其它大文件也一并列出

KuaiRec/big_matrix_1.csv
KuaiRec/big_matrix_2.csv
KuaiRec/big_matrix.csv
KuaiRec/item_categories.csv
KuaiRec/item_daily_features_1.csv
KuaiRec/item_daily_features_2.csv
KuaiRec/item_daily_features_3.csv
KuaiRec/item_daily_features_temp.csv
KuaiRec/item_daily_features.csv
KuaiRec/item.csv
KuaiRec/kuairec_caption_category.csv
KuaiRec/social_network.csv
KuaiRec/unprocessed_video_duration.csv
KuaiRec/user_features.csv
KuaiRec/video_duration_processed.csv
